body {
    color: #222;
    font: 16px/1.2 "Open Sans", sans-serif !important;
}

.topBadge--1bpN1{
    font-size: 14px !important
}
.discountBadge--1tER2{
    font-size: 17px !important
}
.currency--2vP_h{
    font-size: 11px !important 
}

.price--3Qjo9{
    font-size: 40px !important 
}
.descriptionLine--1sbxi{
    font-size: 13px !important ;
}
.labelText--4i6G4{
    font-size: 15px !important;
}

.topPo{
    margin-top: -170px !important;
}
