<section class="press-page">
  <div class="content">
    <div class="section">
      <div class="section-header">
        <h1>Press</h1>

        <h2>2019</h2>

        <p>
          <a href="https://tabbyawards.com/business/?fbclid=IwAR1Lt7SIiqgtNOJd8F0IdcDdD2L8zFZXIgc_duQfRPEeRzsNdLQlPq7eIDU">Whereby Wins best business app</a>
          - The Tabby Awards</p>

        <p>
          <a href="https://shifter.no/sean-percivals-metode-grepene-som-gjor-at-appear-in-oker-inntektene/">Sean Percivals metode: Grepene som gjør at Whereby øker inntektene</a>
          - Shifter</p>

        <h2>2018</h2>

        <p>
          <a href="https://e24.no/jobb/ledertalentene/aarets-fremtidstenker-tjenesten-hun-leder-har-en-million-maanedlige-brukere-i-over-200-land/24505607?fbclid=IwAR2VnXMk_udUXp1dHmU78FpQFO0u91HfFvSZ0mNoFyhqkiOJ34XzbMrDYxk">Én million månedlige brukere i 200 land</a>
          - E24</p>

        <p>
          <a href="https://shifter.no/sean-percival-gar-til-appear-in-enhver-markedsforers-drom/">Sean Percival med ny jobb i Whereby: «Enhver markedsførers drøm»
          </a>- Shifter</p>

        <p>
          <a href="https://shifter.no/appear-in-bryter-dollar-millionmuren-etter-at-telenor-solgte-selskapet-har-inntektene-begynt-a-stromme-inn/">Whereby bryter dollar-millionmuren! Etter at Telenor solgte selskapet, har inntektene begynt å strømme inn.</a>
          - Shifter</p>

        <p>
          <a href="https://blog.whereby.com/blog/ingrid-odegaard-leading-tech-women-award/">Whereby CEO voted 1 of 50 leading women in tech!</a>
          - Whereby Blog</p>

        <br>
        <p>
        <a href="https://www.makeuseof.com/tag/move-google-plus-hangouts-appear-really-good/" target="_blank">Move Over Google Plus Hangouts. Whereby Is Here &amp; It’s Really Good</a>
        - Make Use Of</p>
    </div>
    <div class="ingress"></div>
    <div class="section-content"></div>
  </div>
</div>

<div class="content">
  <div class="section">
    <div class="section-header"></div>
    <div class="section-ingress"></div>
    <div class="section-content">
      <h2>Contact info</h2>

      <p style="text-align: center;">To request interviews, guest blog posts and for speaking request, please contact
        <a href="mailto:sean@whereby.com">sean@whereby.com</a>
      </p>
      <p>&nbsp;</p>

      <p style="text-align: center;">
        <a class="ui-button" href="https://www.dropbox.com/sh/9ztydsxm7o32ajd/AABaPjlByNvMoERUonrUwh6va">Browse press kit</a>
      </p>

    </div>
  </div>
</div>
</section>
