@font-face {
    font-family: futura-pt;
    src: url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?subset_id=2&fvd=n5&v=3) format("woff2"), url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?subset_id=2&fvd=n5&v=3) format("woff"), url(https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?subset_id=2&fvd=n5&v=3) format("opentype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: futura-pt;
    src: url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: futura-pt;
    src: url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/l?subset_id=2&fvd=n3&v=3) format("woff2"), url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/d?subset_id=2&fvd=n3&v=3) format("woff"), url(https://use.typekit.net/af/ae4f6c/000000000000000000010096/27/a?subset_id=2&fvd=n3&v=3) format("opentype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: open-sans;
    src: url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"), url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"), url(https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: open-sans;
    src: url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: open-sans;
    src: url(https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff2"), url(https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff"), url(https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("opentype");
    font-weight: 600;
    font-style: normal
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
body {
    font: 16px/1.2 "Open Sans", sans-serif;
    background: #fff
}

h1,
h2,
h3,
h4 {
    font: 1em/1.3 "Open Sans", sans-serif;
    margin: 1em 0 .6em
}

h1 {
    font-size: 3em;
    line-height: 1;
    text-align: center
}

h2 {
    font-size: 2em
}

.ingress,
h3 {
    font-size: 1.2em
}

h4 {
    font-size: .8em
}

a {
    color: #ff2e63
}

a:hover {
    color: #f0003d
}

ol li,
ul li {
    margin: .2em 0
}

p {
    line-height: 1.4
}

.indented {
    padding-left: 30%
}

@media (max-width:768px) {
    .indented {
        padding-left: 0
    }
}

.ui-button,
a.ui-button {
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .16);
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 8px 12px;
    line-height: 20px;
    text-decoration: none;
    position: relative;
    text-align: center;
    outline: none;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    border: solid #ff2e63 0;
    color: #fff
}

.ui-button:hover,
a.ui-button:hover {
    background: #f0003d
}

.ui-button,
.ui-button.active,
.ui-button.disabled,
.ui-button:disabled,
a.ui-button,
a.ui-button.active,
a.ui-button.disabled,
a.ui-button:disabled {
    background: #ff2e63
}

.ui-button.disabled,
.ui-button:disabled,
a.ui-button.disabled,
a.ui-button:disabled {
    cursor: default;
    background-color: #cb627d
}

.ui-button:hover:active,
a.ui-button:hover:active {
    transform: scale(.95)
}

input.ui-text {
    color: #222;
    line-height: 20px;
    padding: 8px 12px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .16);
    border: none;
    margin: 0;
    outline: none
}

.input-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row
}

.input-inline>:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-inline>:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.top-line {
    position: relative;
    padding: 10px;
    height: 34px
}

@media (min-width:768px) {
    .top-line {
        padding: 30px
    }
}

.top-line .logo {
    margin: 0;
    height: 100%
}

.top-line .logo img {
    height: 100%;
    width: auto
}

.top-line .main-nav {
    position: absolute;
    top: 6px;
    right: 10px;
    font: 1em/1.3 "Open Sans", sans-serif;
    line-height: 1;
    outline: none;
    color: #222;
    font-style: bold;
    font-size: 1.2em
}

@media (min-width:768px) {
    .top-line .main-nav {
        top: 26px
    }
}

.top-line .main-nav a {
    font-size: 18px
}

.top-line .main-nav ul {
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.top-line .main-nav ul li {
    line-height: 34px;
    margin: 0 .7em;
    text-align: right
}

@media (max-width:768px) {
    .top-line .main-nav ul {
        margin: .2em;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .top-line .main-nav ul li {
        line-height: 1.3
    }
}

@media (min-width:768px) {
    .frontpage-header .url-wrapper {
        padding-bottom: 100px
    }
}

.frontpage-header .url-wrapper .pitch p,
.frontpage-header .url-wrapper .tagline h2 {
    color: #fff;
    font: 1em/1.3 "Open Sans", sans-serif;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 4px;
    text-align: center
}

.frontpage-header .url-wrapper .tagline h2 {
    line-height: 1;
    margin: 0 0 20px;
    font-size: 30px;
    font-weight: 600
}

@media (min-width:768px) {
    .frontpage-header .url-wrapper .tagline h2 {
        font-size: 36px;
        text-align: left
    }
}

.frontpage-header .url-wrapper .tagline h2 p {
    margin: 0
}

.frontpage-header .url-wrapper .pitch p {
    font-weight: 400;
    font-size: 26px;
    margin-top: 20px
}

@media (min-width:768px) {
    .frontpage-header .url-wrapper .pitch p {
        font-size: 30px;
        text-align: left
    }
}

.frontpage-header .url-wrapper .pitch p p {
    font-family: "Open Sans", sans-serif;
    margin: .4em 0
}

.frontpage-header .url-wrapper .url-bar {
    margin: 0 auto;
    max-width: 480px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 2em 0
}

@media (max-width:900px) {
    .content {
        padding: 1em
    }
}

.section {
    padding: 1.2em;
    box-sizing: border-box
}

.section.full-width {
    width: 100%
}

.section .section-header hr {
    border: none;
    border-top: 1px solid #fff;
    width: 50px;
    margin-bottom: 1em
}

.section.section-light {
    color: #222;
    background-color: #f4f4f4
}

.section.section-light .section-header hr {
    border-color: #222
}

.section.section-dark {
    color: #fff;
    background-color: #222
}

.flex-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-row .align-center {
    -ms-flex-item-align: center;
    align-self: center
}

.flex-row>* {
    -ms-flex: 1 0;
    flex: 1 0
}

.flex-row>.grow-1 {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.flex-row>.grow-2 {
    -ms-flex-positive: 2;
    flex-grow: 2
}

.flex-row>.grow-3 {
    -ms-flex-positive: 3;
    flex-grow: 3
}

.illustrated-content.flex-row>.text,
.site-footer .footer-column {
    min-width: 250px;
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px
}

.illustrated-content.flex-row>.illustration {
    min-width: 200px;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px
}

.l-container {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%
}

img {
    max-width: 100%
}

a img {
    border: none
}

.align-center {
    display: block;
    text-align: center
}

.align-center>* {
    margin-left: auto;
    margin-right: auto
}

.container {
    width: 100%;
    height: 100%
}

.site-footer .footer-column {
    padding: 0 1em
}

.site-footer .footer-column .social-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 32px
}

.site-footer .footer-column .social-links>a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 36px
}

.site-footer .bottom-row {
    font-size: .8em;
    margin-top: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 0 10px
}

.site-footer .bottom-row>* {
    margin: .5em 0
}

.site-footer .bottom-row .copyright {
    width: 100%;
    color: #999
}

.site-footer .bottom-row .copyright a {
    color: #999
}

.site-footer .bottom-row .copyright .copyright-link {
    color: #ccc;
    display: block;
    padding: 5px 0;
    text-decoration: underline
}

.site-footer .bottom-row .copyright .copyright-link:hover {
    color: #f9f9f9
}

@media (min-width:768px) {
    .site-footer .bottom-row .copyright .copyright-link {
        padding: 0;
        display: inline-block;
        margin-right: 30px
    }
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.is-hidden {
    display: none
}

.Container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    max-width: 1200px
}

.Button {
    background-color: #ff2e63;
    border-radius: calc(40px/2);
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    max-width: 100%;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none
}

.Button:hover {
    background-color: #f0003d;
    color: #fff
}

.Button--secondary,
.Button--secondary:hover {
    background-color: #38cd8b
}

.CmsContent {
    font-size: 18px;
    line-height: 28px
}

.CmsContent h1,
.CmsContent h2,
.CmsContent h3,
.CmsContent h4,
.CmsContent h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600
}

.CmsContent h3,
.CmsContent h4,
.CmsContent h5 {
    margin: 0
}

.CmsContent h1,
.CmsContent p {
    margin: 28px 0
}

.CmsContent h2 {
    font-size: 28px;
    line-height: 38px;
    margin: 28px 0
}

.CmsContent h3 {
    font-size: 22px;
    line-height: 30px
}

.Button--secondary:hover,
.CmsContent a {
    text-decoration: underline
}

.CmsContent ol,
.CmsContent ul {
    padding-left: 18px
}

@media (min-width:768px) {
    .CmsContent ol,
    .CmsContent ul {
        padding-left: 40px
    }
}

.CmsContent ul {
    list-style: none
}

.CmsContent ul li:before {
    background-color: #ff2e63;
    border-radius: 50%;
    content: '';
    display: block;
    font-size: 25px;
    height: 9px;
    left: -18px;
    line-height: 30px;
    position: absolute;
    top: calc(1ex - 3px);
    width: 9px
}

.CmsContent li {
    margin: 20px 0;
    position: relative
}

.CmsContent li:first-child {
    margin-top: 0
}

.CmsContent li:last-child {
    margin-bottom: 0
}

.CmsContent blockquote {
    color: #38cd8b;
    font-size: 20px;
    font-style: italic;
    line-height: 44px;
    margin: 0;
    text-align: center
}

@media (min-width:768px) {
    .CmsContent blockquote {
        font-size: 32px;
        margin: 0 auto;
        width: 50%
    }
}

.CmsContent cite {
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #000
}

@media (min-width:768px) {
    .CmsContent cite {
        font-size: 22px;
        line-height: 30px
    }
}

.CmsContent cite:first-child {
    margin-top: 20px
}

@media (min-width:768px) {
    .CmsContent cite:first-child {
        margin-top: 25px
    }
}

.CmsContent--dark,
.CmsContent--dark a:hover {
    color: #f6f6f6
}

.CmsContent--dark a {
    color: #ccc
}

.CmsContent--card p {
    margin: 0
}

.Footer {
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.Grid {
    display: block
}

@media (min-width:768px) {
    .Grid {
        display: -ms-flexbox;
        display: flex
    }
}

.Grid>.Grid-cell {
    -ms-flex: 1;
    flex: 1;
    padding: 10px
}

.Grid--noWrap {
    -ms-flex-align: start;
    align-items: flex-start
}

.Grid--fill {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.Grid--center {
    -ms-flex-pack: center;
    justify-content: center
}

.Social {
    margin-top: 28px
}

@media (min-width:768px) {
    .Social {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.Social-link {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    vertical-align: middle
}

@media (min-width:768px) {
    .Social-link {
        padding: 0
    }
}

.Social-linkImage {
    margin-right: 10px
}

.team-page .multicolumn2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row
}

@media (max-width:768px) {
    .team-page .multicolumn2 {
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.team-page .multicolumn2 .column {
    width: auto!important
}

.team-page .multicolumn2 .column:first-child {
    padding-right: 2em;
    -ms-flex: 1;
    flex: 1;
    max-width: 200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center
}

.team-page .multicolumn2 .column:first-child .plugin_picture {
    -ms-flex: 1;
    flex: 1;
    margin: 1em 0
}

.team-page .multicolumn2 .column:last-child {
    -ms-flex: 2;
    flex: 2
}

.team-page .column .plugin_picture {
    display: block;
    overflow: hidden;
    height: 0;
    position: relative;
    border-radius: 50%;
    padding-bottom: calc(100% - 4px);
    border: 2px solid #fff
}

.team-page .column .plugin_picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.team-page h2,
.team-page h3 {
    margin-bottom: .2em
}

.team-page h4 {
    font-family: "Open Sans", sans-serif;
    margin-top: .2em;
    opacity: .5;
    font-weight: 600
}

.faq-page .faq-section>ul {
    padding: 0;
    list-style-type: none
}

.faq-page .faq-article h3 {
    cursor: pointer
}

.faq-page .faq-article-body {
    transition: .15s all;
    overflow: hidden
}

.faq-page .faq-article-body.collapsed {
    height: 0!important;
    margin: 0
}

.faq-page .faq-article-body .wysiwyg-font-size-large {
    font-size: 1.1em
}

.logoContainer--AZi3B {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logoImg--ck59d {
    height: 27px;
    width: 120px;
    top: 2px;
    position: relative;
}