<html>

  <head>
    <title>Video Meetings, Video Conferencing, and Screen Sharing - Whereby (formerly appear.in)</title>
  </head>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600)">
  <link rel="stylesheet" href="  https://d32wid4gq0d4kh.cloudfront.net/main.129c327b.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/26.f9fe087b.css">
  <link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/4.dfc36d84.css">
  <link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/40.1717a7e3.css">
  <link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/28.ecc23f8d.css">
  <link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/2.fdef5e6a.css">
  <link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/1.56b7a7ea.css">
  <link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/3.c18cd8db.css">

  <body>
    <div class="app" id="app">
      <div class="l-container">
        <header class="jstest-headerNav component--2QFO_">
          <a class="logo--1d42y component--MsadA jstest-nav-logo" [routerLink]="['/meeting']">
            <figure class="logoContainer--AZi3B"><img class="logoImg--ck59d logoImg--text--1eqDD jstest-logo" src="https://d32wid4gq0d4kh.cloudfront.net/ff0baf699ecfdf651e1df79ab837e3ee.svg" alt="whereby.com"><img class="logoImg--ck59d logoImg--compact--3xT3M jstest-logo" src="https://d32wid4gq0d4kh.cloudfront.net/61b96327b4572962552c1c379e52db96.svg" alt="whereby.com"></figure>
          </a>
          <div class="component--22c51">
            <div class="stageIndicators--2GUMi">
              <div class="stageIndicator--2M0VF ">1. Order</div>
              <div class="stageIndicator--2M0VF">2. Billing</div>
              <div class="stageIndicator--2M0VF">3. Payment</div>
            </div>
            <div class="themedComponent--O9Y4l ProgressBar--3ucDW">
              <div class="background--29UIp"></div>
              <div class="indicator--3z2AK" [style.width] = 'progress'></div>
            </div>
          </div>
          <div class="jstest-userInfoLink navItem--SFDxq component--G0Pp0 user--1xSYC">
            <p class="displayName--3C2DK displayNameSelected--25HtB">{{name}}</p>
            <figure class="component--2MszE component--small--20flS"><img class="avatarImage--3FFCn" src="{{pic}}" alt=""></figure>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
