<div class="app">
  <div class="component--3uxoH">
    <div class="PageFooter--q6-VT">
      <div class="container--2gbHf l-container">
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">about</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" [routerLink]="['/ourteam/team']" target="_blank">Our Team</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://whereby.com/information/press" target="_blank">Press</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://whereby.videonor.com/" target="_blank">Careers</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" [routerLink]="['/ourteam/tos']" target="_blank">Terms of Service</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  [routerLink]="['/ourteam/cookie-policy']" target="_blank">Cookie Policy</a>
            </li>
          </ul>
        </nav>
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">sales</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" [routerLink]="['/information/pricing']"  target="_blank">Pricing</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN"  [routerLink]="['/information/products']"  target="_blank">Products</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://getstarted.whereby.com/information/partnerships" target="_blank">Partnerships</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://share.hsforms.com/14baGjVJlTE-t0H-zx3hq5A2wnwy" target="_blank">Non-profits</a>
            </li>
          </ul>
        </nav>
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">social</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://blog.whereby.com/" target="_blank">Blog</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://twitter.com/whereby" target="_blank">Twitter</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://www.facebook.com/whereby" target="_blank">Facebook</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://www.instagram.com/wherebymeetings" target="_blank">Instagram</a>
            </li>
          </ul>
        </nav>
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">support</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://support.whereby.com/" target="_blank">Support Center</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://support.whereby.com/category/376-faq" target="_blank">FAQ</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="https://support.whereby.com/article/314-quickstart-guide" target="_blank">Getting Started</a>
            </li>
            <li class="navItem--2TmsE">
              <a class="navItemLink--2AhgN" href="/user/privacy/policies" target="_blank">Account &amp; Privacy</a>
            </li>
          </ul>
        </nav>
        <nav class="nav--CPVyU">
          <h3 class="navTitle--1W31B">Questions</h3>
          <ul class="navList--2HPNM">
            <li class="navItem--2TmsE">
              <a class="button--1L9B7 component--button--PUiR2" href="mailto:feedback@whereby.com">Get In Touch</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
