<section id="contentArea" class="container-fluid">
  <div class="row-fluid">
    <section id="main-content" class="span9">
      <div class="contentWrapper">

        <h1>Most Popular Articles</h1>

        <ul class="articleList">

          <li>
            <a href="/article/314-quickstart-guide">
              <i class="icon-article-doc"></i>
              <span>QuickStart Guide<span></span></span></a>
          </li>

          <li>
            <a href="/article/315-screen-sharing">
              <i class="icon-article-doc"></i>
              <span>Screen Sharing<span></span></span></a>
          </li>

          <li>
            <a href="/article/319-my-cam-mic-isnt-working">
              <i class="icon-article-doc"></i>
              <span>My Cam/Mic isn't working<span></span></span></a>
          </li>

          <li>
            <a href="/article/317-cam-and-mic-settings">
              <i class="icon-article-doc"></i>
              <span>Cam and Mic Settings<span></span></span></a>
          </li>

          <li>
            <a href="/article/322-join-a-meeting-you-were-invited-to">
              <i class="icon-article-doc"></i>
              <span>Join a Meeting you were Invited to<span></span></span></a>
          </li>

          <li>
            <a href="/article/318-hardware-software-and-network-requirements">
              <i class="icon-article-doc"></i>
              <span>Hardware, Software, and Network Requirements<span></span></span></a>
          </li>

          <li>
            <a href="/article/349-manage-your-account-profile-and-data">
              <i class="icon-article-doc"></i>
              <span>Manage Your Account Profile and Data<span></span></span></a>
          </li>

          <li>
            <a href="/article/320-recording">
              <i class="icon-article-doc"></i>
              <span>Recording<span></span></span></a>
          </li>

          <li>
            <a href="/article/331-can-i-embed-a-room-on-my-website-or-in-an-iframe">
              <i class="icon-article-doc"></i>
              <span>Can I embed a room on my website or in an iframe?<span></span></span></a>
          </li>

          <li>
            <a href="/article/351-manage-your-subscription">
              <i class="icon-article-doc"></i>
              <span>Manage Your Subscription<span></span></span></a>
          </li>

        </ul>
        <!--/articleList-->

      </div>
      <!--/contentWrapper-->

    </section>
    <!--/content-->
    <aside id="sidebar" class="span3">

      <form action="/search" method="GET" id="searchBar" class="sm" autocomplete="off">

        <input type="hidden" name="collectionId" value="5d3a16432c7d3a2ec4bf6e43">
        <input type="text" name="query" title="search-query" class="search-query" placeholder="Search" value="">
        <button type="submit">
          <span class="sr-only">Toggle Search</span>
          <i class="icon-search"></i>
        </button>
        <div id="serp-dd" style="display: none;" class="sb">
          <ul class="result"></ul>
        </div>

      </form>

      <h3>Categories</h3>
      <ul class="nav nav-list">

        <li>
          <a href="/category/382-account-and-privacy">Account and Privacy
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/383-android">Android
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/380-cam-mic-and-sharing">Cam, Mic, and Sharing
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/376-faq">FAQ
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/375-getting-started">Getting Started
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/378-troubleshooting">Troubleshooting
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/377-using-whereby">Using Whereby
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/379-whereby-business">Whereby Business
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/381-whereby-pro">Whereby Pro
            <i class="icon-arrow"></i>
          </a>
        </li>

        <li>
          <a href="/category/384-ios">iOS
            <i class="icon-arrow"></i>
          </a>
        </li>

      </ul>

    </aside>
    <!--/span-->
  </div>
  <!--/row-->
  <div id="noResults" style="display:none;">No results found</div>
  <footer>

    <p>©

      <a href="https://whereby.com">Whereby</a>
      2019.
      <span>Powered by
        <a href="https://www.helpscout.com/knowledge-base/?utm_source=docs&amp;utm_medium=footerlink&amp;utm_campaign=Docs+Branding" target="_blank">Help Scout</a>
      </span>

    </p>

  </footer>
</section>
