<section id="docsSearch">
        <form action="/search" method="GET" id="searchBar" autocomplete="off">
          <input type="text" name="query" title="search-query" class="search-query" placeholder="Search the knowledge base" aria-labelledby="Search the knowledge base" value="">
          <button type="submit" aria-labelledby="Search">
            <i class="icon-search lp"></i>
            <span>Search</span></button>
          <div id="serp-dd" style="display:none;">
            <ul class="result"></ul>
          </div>
        </form>
      </section>
      <section id="contentArea" class="container-fluid">
  
        <div id="noResults" style="display:none;">No results found</div>
  
        <section class="twoCol row-fluid">
  
          <section class="collection" id="collection-308">
            <div class="collection-head">
              <h2>
                <a href="/collection/308-support-center">Support Center</a>
              </h2>
              <p>Quick answers to your biggest questions</p>
            </div>
            <!-- /collection-head -->
            <div class="collection-body">
              <ul class="popArticles">
  
                <li>
                  <a href="/article/314-quickstart-guide">
                    <i class="icon-article-doc"></i>
                    <span>QuickStart Guide</span></a>
                </li>
  
                <li>
                  <a href="/article/315-screen-sharing">
                    <i class="icon-article-doc"></i>
                    <span>Screen Sharing</span></a>
                </li>
  
                <li>
                  <a href="/article/319-my-cam-mic-isnt-working">
                    <i class="icon-article-doc"></i>
                    <span>My Cam/Mic isn't working</span></a>
                </li>
  
                <li>
                  <a href="/article/317-cam-and-mic-settings">
                    <i class="icon-article-doc"></i>
                    <span>Cam and Mic Settings</span></a>
                </li>
  
                <li>
                  <a href="/article/322-join-a-meeting-you-were-invited-to">
                    <i class="icon-article-doc"></i>
                    <span>Join a Meeting you were Invited to</span></a>
                </li>
  
                <li>
                  <a href="/article/318-hardware-software-and-network-requirements">
                    <i class="icon-article-doc"></i>
                    <span>Hardware, Software, and Network Requirements</span></a>
                </li>
  
                <li>
                  <a href="/article/349-manage-your-account-profile-and-data">
                    <i class="icon-article-doc"></i>
                    <span>Manage Your Account Profile and Data</span></a>
                </li>
  
                <li>
                  <a href="/article/320-recording">
                    <i class="icon-article-doc"></i>
                    <span>Recording</span></a>
                </li>
  
                <li>
                  <a href="/article/331-can-i-embed-a-room-on-my-website-or-in-an-iframe">
                    <i class="icon-article-doc"></i>
                    <span>Can I embed a room on my website or in an iframe?</span></a>
                </li>
  
                <li>
                  <a href="/article/351-manage-your-subscription">
                    <i class="icon-article-doc"></i>
                    <span>Manage Your Subscription</span></a>
                </li>
  
              </ul>
  
              <a class="browse" href="/collection/308-support-center">Browse all articles</a>
  
            </div>
            <!-- /collection-body -->
          </section>
          <!--collection-->
  
          <section class="collection" id="collection-311">
            <div class="collection-head">
              <h2>
                <a href="/collection/311-appearin-is-now-whereby">appear.in is now Whereby</a>
              </h2>
              <p>The story of and answers about our rebrand</p>
            </div>
            <!-- /collection-head -->
            <div class="collection-body">
              <ul class="popArticles">
  
                <li>
                  <a href="/article/326-rebranding-faq">
                    <i class="icon-article-doc"></i>
                    <span>Rebranding FAQ</span></a>
                </li>
  
                <li>
                  <a href="/article/325-a-message-from-our-chief-product-officer">
                    <i class="icon-article-doc"></i>
                    <span>A message from our Chief Product Officer</span></a>
                </li>
  
                <li>
                  <a href="/article/386-im-experiencing-problems-after-moving-to-whereby">
                    <i class="icon-article-doc"></i>
                    <span>I'm experiencing problems after moving to Whereby</span></a>
                </li>
  
              </ul>
  
            </div>
            <!-- /collection-body -->
          </section>
          <!--collection-->
  
        </section>
        <!--threeCol-->
  
        <footer class="center">
  
          <p>©
  
            <a href="https://whereby.com">Whereby</a>
            2019.
            <span>Powered by
              <a href="https://www.helpscout.com/knowledge-base/?utm_source=docs&amp;utm_medium=footerlink&amp;utm_campaign=Docs+Branding" target="_blank">Help Scout</a>
            </span>
  
          </p>
  
        </footer>
      </section>
