
        body { background: #ffffff; }
        .navbar .navbar-inner { background: #7373ce; }
        .navbar .nav li a, 
        .navbar .icon-private-w  { color: #fbf8f8; }
        .navbar .brand, 
        .navbar .nav li a:hover, 
        .navbar .nav li a:focus, 
        .navbar .nav .active a, 
        .navbar .nav .active a:hover, 
        .navbar .nav .active a:focus  { color: #ffffff; }
        .navbar a:hover .icon-private-w, 
        .navbar a:focus .icon-private-w, 
        .navbar .active a .icon-private-w, 
        .navbar .active a:hover .icon-private-w, 
        .navbar .active a:focus .icon-private-w { color: #ffffff; }
        #serp-dd .result a:hover,
        #serp-dd .result > li.active,
        #fullArticle strong a,
        #fullArticle a strong,
        .collection a,
        .contentWrapper a,
        .most-pop-articles .popArticles a,
        .most-pop-articles .popArticles a:hover span,
        .category-list .category .article-count,
        .category-list .category:hover .article-count { color: #4381b5; }
        #fullArticle, 
        #fullArticle p, 
        #fullArticle ul, 
        #fullArticle ol, 
        #fullArticle li, 
        #fullArticle div, 
        #fullArticle blockquote, 
        #fullArticle dd, 
        #fullArticle table { color:#585858; }

        .navbar .navbar-inner {
            box-shadow: none;
            text-transform: uppercase;
            background-color: transparent;
            background-image: linear-gradient(135deg, rgba(213, 124, 230, 0.4) 0, rgba(180, 71, 201, 0) 100%), linear-gradient(135deg, #006080 0, #009bce 100%);
        }
        .navbar {
            border: 0;
        }
    #searchBar{
      outline: 0 !important
    }

    #contactModal, .abuse {
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 4px;
        top: 10%;
    }
 
    .modal {
        background-color: transparent !important;
        bottom: 0 !important;
        border: 0 !important;
        box-shadow: none;
        width: 45% !important;
    }