
<section class="Cookie Policy-page">
        <div class="content">
            <div class="section">
                <div class="section-header"></div>
                <div class="ingress">
                    
                </div>
                <div class="section-content">
                <h1>Cookie Policy</h1>
    
    <p>Last updated: May 25th, 2018</p>
    
    <h2>General</h2>
    
    <p>This Cookie Policy is an addendum to the Terms of Service and Privacy Policy of Whereby. Any definitions used in those Policies, will have the same meaning in this Policy.</p>
    
    <p>This Policy outlines how Whereby uses Cookies and other tracking technologies to run and deliver the service, and how you can choose which type of tracking to disable.</p>
    
    <h2>What is a cookie?</h2>
    
    <p>A cookie is a small text file with an identifier sent by us to your computer or mobile device, and stored in your browser. “Session-based” cookies last only while your browser is open and are then deleted. “Persistent” cookies last until you or your browser deletes them, or they expire. Cookies do not typically contain any personally identifiable information, but may be linked to personal information we store about you. E.g. if you are logged in with a registered user, the cookie will help us remember that you are logged in when you return to the site. To find out more about cookies, visit <a rel="nofollow" href="http://www.allaboutcookies.org/">this site</a>.</p>
    
    <h2>What is local storage?</h2>
    
    <p>Local storage is a component of the Web storage application programming interface. It is a method by which Web pages can store information inside your Web browser. Similar to cookies, this stored information exists even when you close a browser tab, surf away from the current website or close the main browser. But unlike cookies this data is not carried to the remote Web server unless sent explicitly by the web page. Local storage is often used to remember choices a user has made inside a Web application or to cache information to improve performance. Elements stored in browser Local storage is covered by this policy to the extent that the information stored in these elements is communicated back to the server.</p>
    
    <h2>Managing cookies and local storage</h2>
    
    <p>Most browsers allow you to refuse to accept cookies and to delete cookies. If you block cookies, you may not be able to use all the features on our website, or have a worse experience. We have gathered information about how you can block and delete cookies and local storage elements in this Knowledge Base&nbsp;<a href="https://appearin.helpscoutdocs.com/article/218-policies">article</a>.</p>
    
    <h2>How we use cookies and local storage</h2>
    
    <p>Whereby uses cookies and local storage on our sites (Whereby and any subpages) and mobile applications. Any browser visiting these sites will receive cookies from us. Whereby uses cookies and similar technologies in our Websites and Services that help us collect information needed to run and deliver the Service.</p>
    
    <h2>Cookies and local storage that we use</h2>
    
    <p>We use cookies for the following purposes:</p>
    
    <table>
        <thead>
            <tr>
                <th>Categories of use</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Authentication</td>
                <td>We use local storage to identify you when you visit our website and to authenticate calls our web application makes to the backend servers on your behalf. If you're signed in to appear.in, this helps us show you the right information and personalize your experience. (Local storage element used for this purpose is: “CredentialsStorage”)</td>
            </tr>
            <tr>
                <td>Analysis</td>
                <td>We use cookies to help us analyze the usage patterns and performance of our website and services. We use services from Amplitude and Google Analytics for this purpose, see the cookie list for more details.</td>
            </tr>
            <tr>
                <td>Payment and Fraud detection</td>
                <td>We use cookies to enable easy payment processing and to detect fraud through our payment processor Stripe Payments Europe, Ltd. (“Stripe”). See the cookie list for cookies related to this.</td>
            </tr>
            <tr>
                <td>Integrations</td>
                <td>We may use cookies in your browser to access and share content from third-party Integration Services that you choose to enable in the Service. Some integrations will not work for users who have blocked third-party cookies in their browser, as it will then not be possible for us to open the content from the Integration Service for them. (Cookies used for this purpose depends on which Integration Services you have enabled).</td>
            </tr>
            <tr>
                <td>Advertising</td>
                <td>We may use cookies and similar tracking technologies of third parties, to learn whether someone who saw an ad in a marketing platform later visited our site and took an action (e.g. created an account or upgraded to a paid plan), and provide our advertising partners with information about how the ad performed. We may also work with advertising partners to show you an ad off appear.in, after you've visited our site or application.</td>
            </tr>
        </tbody>
    </table>
    
    <p>For the full list of cookies that Whereby and our providers use, see our <a href="https://appearin.helpscoutdocs.com/article/218-policies">up-to-date cookie list</a>.</p>
    
    <h2>Integrations</h2>
    
    <p>We may make available integrations to other web-based services, allowing you to open those services inside Whereby. In order to use third-party integrations in this category, it may be necessary for you to enable support for third-party cookies in your browser. The reason for this is that such integrations may depend on cookies to assert your identity and/or authenticate your access to any non-public assets (documents, boards, etc) opened through them.</p>
    
                </div>
            </div>
        </div>
        
        
        <div class="content">
            <div class="section">
                <div class="section-header"></div>
                <div class="section-ingress">
                    
                </div>
                <div class="section-content">
                    
                </div>
            </div>
        </div>
    </section>