<html>

  <head>
    <title>Video Meetings, Video Conferencing, and Screen Sharing - Whereby (formerly appear.in)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://d1x2efl61akomv.cloudfront.net/styles/main.f8595752.css">
  </head>

  <body>
    <div class="wrapper frontpage-content-wrapper">
      <div class="leave-room-upsell jstest-leave-room-upsell">
        <div class="leave-room-wrapper">
          <div class="main-headline">
            You have left the meeting
          </div>
          <div class="hand-icon">
            👍
          </div>
          <h2 class="upsell-header">
            Sign up today and start bringing your team together
          </h2>
          <ul>
            <li>Create your own room</li>
            <li>Lock your room for private meetings</li>
            <li>Host meetings with up to 4 participants</li>
            <li>Screen sharing for awesome collaboration</li>
            <li>Integrations with Slack, Trello and more</li>
          </ul>
          <div class="button-group">
            <div class="ui-button full-width button jstest-leave-room-signup-button" [routerLink]="['/user/signup']">
              Sign up for free
            </div>
            <div class="ui-button ui-button--outlineInversed full-width button jstest-leave-room-no-thanks-button" [routerLink]="['/']">
              Learn more
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>