<link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/26.f9fe087b.css">
<link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/4.dfc36d84.css">
<link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/40.1717a7e3.css">
<link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/28.ecc23f8d.css">
<link rel="stylesheet" type="text/css" href="https://d32wid4gq0d4kh.cloudfront.net/14.80536f70.css">
<div class="class" id="app">
  <div class='ContentWrapper--11Iee jstest-org-signup-page'>
    <div class="l-container">
      <div>
        <div class="ContentWrapperAuthFlow--1HnnM">
          <div class="component--1dt1M">
            <section class="info--3ri5_">
              <h1>Create your business account</h1>
              <p>Easily meet with clients or colleagues from anywhere with a Whereby Business plan.</p>
              <h2>Business plans include:</h2>
              <ul>
                <li>Manage users, admins and rooms all from one account</li>
                <li>Every user gets their own personal video meeting room</li>
                <li>Create shared rooms for teams and projects</li>
                <li>Record your meetings for easy sharing</li>
                <li>Host meetings with up to 12 people</li>
                <li>Brand rooms with your company logo and custom background</li>
              </ul><img class="cardImage--1Ci5r" src="https://d32wid4gq0d4kh.cloudfront.net/eafd5d688234da6ad37c28a971f93323.svg" alt=""></section>
            <form class="form--DgWJq">
              <label class="component--2MyI5 mvl jstest-displayName jstest-input-wrapper">
                <div class="labelText--4i6G4">Your name</div><input name="ownerDisplayName" placeholder="Your full name" type="text" required="" maxlength="50" class="inputElement--1P2yy" value="">
                <small class="helpText--Yn0vL"></small>
              </label>
              <label class="component--2MyI5 mvl jstest-organizationName jstest-input-wrapper">
                <div class="labelText--4i6G4">Company or team name</div><input name="organizationName" placeholder="Where do you work?" type="text" required="" maxlength="50" class="inputElement--1P2yy" value="">
                <small class="helpText--Yn0vL"></small>
              </label>
              <label class="jstest-subdomaininput-default-label mvl">
                <div class="labelText--4i6G4">Your own unique url</div>
                <div class="inputWrapper--37raq"><input class="inputElement--1P2yy jstest-subdomain-input" name="subdomain" maxlength="63" type="text" placeholder="Unique url" pattern="^[a-z0-9-]{1,63}$" required="" title="Should only contain letters a-z, numbers and dashes" value="">
                  <span class="mainDomain--2jLwG">.whereby.com</span></div>
                <small class="helpText--Yn0vL">Can't be changed so make sure you're happy with it</small>
              </label>
              <label class="component--2MyI5 mvl jstest-email jstest-input-wrapper">
                <div class="labelText--4i6G4">Email</div><input name="ownerEmail" autocomplete="email" placeholder="Your work email" type="email" required="" maxlength="100" class="inputElement--1P2yy" value="">
                <small class="helpText--Yn0vL"></small>
              </label>
              <button type="submit" disabled="" class="component--2WwH7 submitButton--Z3wPx component--disabled--1IxX8">
                <div class="content--2L1S4">Get started</div>
                <div class="loader--3ke_k">
                  <div class="loader--i6TT-"></div>
                </div>
              </button>
              <div class="mvl component--3jzCS">
                <div class="ssoDividerWrapper--SaJBw isHeaderDivider--jhGsH">
                  <div class="ssoDividerContent--3reT8">or</div>
                </div>
                <button class="googleBtn--1jM_a" disabled=""><img src="https://d32wid4gq0d4kh.cloudfront.net/c6c8eeb226d31427367b0dea32faf758.svg" alt="">
                  <span>Sign Up with Google</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>