.l-container {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.labelText--4i6G4{
    font-size: inherit !important;
}
.mvl {
    margin-top: 30px;
    margin-bottom: 19px;
}

label {
    display: block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: 100 !important;
}

.info--3ri5_{
    font: 16px/1.2 "Open Sans", sans-serif !important;
    line-height: 1.9em !important;
}