<section id="contentArea" class="container-fluid">
  <div class="row-fluid">
    <section id="main-content" class="span9">
      <div class="contentWrapper">

        <h1>Most Popular Articles</h1>

        <ul class="articleList">

          <li>
            <a href="/article/326-rebranding-faq">
              <i class="icon-article-doc"></i>
              <span>Rebranding FAQ<span></span></span></a>
          </li>

          <li>
            <a href="/article/325-a-message-from-our-chief-product-officer">
              <i class="icon-article-doc"></i>
              <span>A message from our Chief Product Officer<span></span></span></a>
          </li>

          <li>
            <a href="/article/386-im-experiencing-problems-after-moving-to-whereby">
              <i class="icon-article-doc"></i>
              <span>I'm experiencing problems after moving to Whereby<span></span></span></a>
          </li>

        </ul>
        <!--/articleList-->

      </div>
      <!--/contentWrapper-->

    </section>
    <!--/content-->
    <aside id="sidebar" class="span3">

      <form action="/search" method="GET" id="searchBar" class="sm" autocomplete="off">

        <input type="hidden" name="collectionId" value="5d3a16ae2c7d3a2ec4bf6e49">
        <input type="text" name="query" title="search-query" class="search-query" placeholder="Search" value="">
        <button type="submit">
          <span class="sr-only">Toggle Search</span>
          <i class="icon-search"></i>
        </button>
        <div id="serp-dd" style="display: none;" class="sb">
          <ul class="result"></ul>
        </div>

      </form>

    </aside>
    <!--/span-->
  </div>
  <!--/row-->
  <div id="noResults" style="display:none;">No results found</div>
  <footer>

    <p>©

      <a href="https://whereby.com">Whereby</a>
      2019.
      <span>Powered by
        <a href="https://www.helpscout.com/knowledge-base/?utm_source=docs&amp;utm_medium=footerlink&amp;utm_campaign=Docs+Branding" target="_blank">Help Scout</a>
      </span>

    </p>

  </footer>
</section>
