<div class="app">
  <div class="container main ">
    <div class="col-sm-6 align">
      <img class="imgpossition" src="https://d32wid4gq0d4kh.cloudfront.net/aefca995d50b2e9c7aa5026fc7ff4af9.png" alt='sitimage'>
    </div>
    <div class="col-sm-6 align2">
      <h1 class="size">Easy video meetings for your business</h1>
      <h2 class="h2Size">Start bringing your team and clients together with flexible video meetings.</h2>
      <p class="text--3fgom">
        <strong>Ranked #1 easiest to use.</strong>
        G2 Crowd</p>
      <img src="https://d32wid4gq0d4kh.cloudfront.net/4eb5d2db7eab97dc2aba30f4df83eaaf.png" class="stars--1WGgS" alt="">
      <a class="button--ZF4Yy component--button--PUiR2 component--large--19YJ7" [routerLink]="['/user/signup']">Get Started</a>
    </div>

  </div>
  <div class="Plan--9V6RI">
    <div class="l-container">
      <div>
        <h1 class="title--2I9re">Tailored video meeting plans</h1>
      </div>
      <div class="list--1R0zO">
        <div class="PlanItem---On2h">
          <h1 class="title--132VA">Free</h1>
          <p class="content--HhHFs">A perfect tool to introduce video meetings into your daily workflow</p>
          <a class="button--yWW8w button--free--1lEIV component--button--PUiR2">Get Started</a>
        </div>
        <div class="PlanItem---On2h">
          <h1 class="title--132VA">Pro</h1>
          <p class="content--HhHFs">Perfect for freelance professionals who conduct business over video</p>
          <a class="button--yWW8w button--pro--12iqQ component--button--PUiR2" href="https://getstarted.whereby.com/information/pro-plan" target="_blank">Learn More</a>
        </div>
        <div class="PlanItem---On2h">
          <h1 class="title--132VA">Business</h1>
          <p class="content--HhHFs">Effortlessly connect to customers and manage a remote workforce</p>
          <a class="button--yWW8w button--business--3EvUi component--button--PUiR2" href="https://getstarted.whereby.com/information/business-plan" target="_blank">Learn More</a>
        </div>
      </div>
      <p class="conversions--3fNFU">10,110,568 conversations annually</p>
      <div class="companies--2vd_x"><img class="logo--2rKF2" src="https://d32wid4gq0d4kh.cloudfront.net/c429e03e9d3a1bc5110739e5667e8527.svg" alt="Shopify logo"><img class="logo--2rKF2" src="https://d32wid4gq0d4kh.cloudfront.net/72f30d1f744c39682bfd0023c330432e.svg" alt="Home Deport logo">
        <img class="logo--2rKF2" src="https://d32wid4gq0d4kh.cloudfront.net/2553c0d2709630cca6bd1bd0d71023f7.svg" alt="Trello logo"><img class="logo--2rKF2" src="https://d32wid4gq0d4kh.cloudfront.net/8eba4183023fe0522fae94d8e0df2191.svg" alt="GE logo">
        <img class="logo--2rKF2" src="https://d32wid4gq0d4kh.cloudfront.net/8aa6d9a8a5ed2f4c03301f5b498e6045.svg" alt="Techstars logo"></div>
    </div>
  </div>

  <div class="Toolbox--2E5rt">
    <div class="l-container">
      <h1 class="title--iustm">Flexible video meeting tools</h1>
      <div class="list--2Oe96">
        <div class="item--11eHU">
          <div>
            <figure class="itemFigure--LoTNO itemFigure--branding--34r6y"><img src="https://d32wid4gq0d4kh.cloudfront.net/3a9b501b40b9d8d079947773a01cd0fc.svg" alt=""></figure>
            <h2 class="itemTitle--3B5oa">Custom branding</h2>
            <p class="itemText--3hH_b">Showcase your brand with custom backgrounds and logos</p>
          </div>
          <a class="itemLink--1D_lv" [routerLink]="['/user/signup']">Get Started</a>
        </div>
        <div class="item--11eHU">
          <div>
            <figure class="itemFigure--LoTNO itemFigure--meetings--3UtlD"><img src="https://d32wid4gq0d4kh.cloudfront.net/9769b5fc30197a0c468741514bae2a87.svg" alt=""></figure>
            <h2 class="itemTitle--3B5oa">One-click meetings</h2>
            <p class="itemText--3hH_b">Invite guests to join a meeting at the click of a link in their browser</p>
          </div>
          <a class="itemLink--1D_lv" [routerLink]="['/user/signup']">Get Started</a>
        </div>
        <div class="item--11eHU">
          <div>
            <figure class="itemFigure--LoTNO itemFigure--screen--tsHqM"><img src="https://d32wid4gq0d4kh.cloudfront.net/ac71068e9a2ec2690e44235bb3d8cbeb.svg" alt=""></figure>
            <h2 class="itemTitle--3B5oa">Screen sharing</h2>
            <p class="itemText--3hH_b">Screen share to quickly resolve questions, workshop ideas, and pitch to clients</p>
          </div>
          <a class="itemLink--1D_lv" [routerLink]="['/user/signup']">Get Started</a>
        </div>
        <div class="item--11eHU">
          <div>
            <figure class="itemFigure--LoTNO itemFigure--mobile--3yAEA"><img src="https://d32wid4gq0d4kh.cloudfront.net/a533b47366a361055bb1cf844082df0d.svg" alt=""></figure>
            <h2 class="itemTitle--3B5oa">Mobile app</h2>
            <p class="itemText--3hH_b">Stay connected while on the go with the mobile app</p>
          </div>
          <a class="itemLink--1D_lv" href="https://itunes.apple.com/no/app/appear.in-free-group-video/id878583078?mt=8" target="_blank" rel="noreferrer noopener">Install the iOS App</a>
        </div>
      </div>
    </div>
  </div>

  <div class="Testimonial--3NxE7">
    <div class="l-container">
      <ul class="list--13AKw">
        <li class="item--2PDQ8">
          <figure class="itemFigure--CY-Nw"><img src="https://d32wid4gq0d4kh.cloudfront.net/6706dc9e46844db0d8d052710747f8dd.png" alt=""></figure>
          <div>
            <blockquote class="itemQuote--1q_NL">
              <p>“Great tool to collaborate easily with clients and the team.”</p>
            </blockquote>
            <cite class="itemCite--2NWrb">
              <strong>Jam M</strong>. Social Media Strategist</cite>
            <a class="itemLink--1OoUn" href="https://www.g2.com/products/appear-in/reviews" target="_blank">Read more</a>
          </div>
        </li>
        <li class="item--2PDQ8">
          <figure class="itemFigure--CY-Nw"><img src="https://d32wid4gq0d4kh.cloudfront.net/40f68515291c6793f60e60d1cf4e953f.png" alt=""></figure>
          <div>
            <blockquote class="itemQuote--1q_NL">
              <p>“Absolutely the best video call solution for medium sized teams.”</p>
            </blockquote>
            <cite class="itemCite--2NWrb">
              <strong>Rune E</strong>, CloudXtract</cite>
            <a class="itemLink--1OoUn" href="https://www.g2.com/products/appear-in/reviews" target="_blank">Read more</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="Cta--341YU">
    <p class="title--1p6PP">Join the millions having easy video meetings</p>
    <a class="button--orXoc component--button--PUiR2 component--large--19YJ7" [routerLink]="['/user/signup']">Get Started</a>
  </div>
  <app-footer></app-footer>
</div>
