.imgpossition{
    max-width: 116%;
}
.align {
    right: 11%;
}
.size{
    font-size: 48px;
    margin-bottom: 44px;
    font-weight: 400;
    color: black;
}
.h2Size {
    line-height: 1.57;
    color: #494e5f;
    font-size: 24px !important;
    font-weight: 400;
    margin: 24px 0;
}
.align2{
    grid-area: Hero-content;
    max-width: calc(calc(1200px - 80px) / 2);
    padding: 0;
    margin-top: 3%;
}
.main{
    padding-bottom: 60px;
}
.text--3fgom{
    font-weight: bold;
    margin: 12px 0 4px;
    font-size: 21px;
    line-height: 1.6;
    font: 21px/1.2 "Open Sans", sans-serif;
    color: black;
}
strong{
    font-weight: 600;
}
.stars--1WGgS{
    display: block;
    height: 28px;
    margin: 0 auto;
    width: 152px;
    margin: 0;
}

a:active,
a:hover {
  outline: 0;
}

.button--ZF4Yy{
    margin-top: 60px !important;
    background-color: #ff2e63;
    min-width: 50%;
}
.component--large--19YJ7 {
    border-radius: 30px !important; /* For when button modifier is included */
    font-size: 24px !important;
    padding-bottom: 13px !important;
    padding-top: 13px !important;
}
.component--button--PUiR2 {
    text-decoration: none; /* Prevent anchor link underline */
}
.component--button--PUiR2 {

    display: inline-block;
    position: relative;
    border: 0;
    border-radius: calc(40px / 2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    padding: 8px 40px;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.component--3uxoH {
    width: 100%;
    height: 100%;
}
.content--v-qcO {
    background-color: #fff;
    overflow: hidden; /* Disallow margins to leak out */
}
.component-card--n749G {
    position: relative;
}
.card-line--1sjga {
    display: none;
}
@media (min-width: 1024px) {
.card-line--1sjga {
        display: block;
        position: absolute;
        top: 200px
}
    }
@media (min-width: 1024px) {
.card-line--first--2EVXk {
        height: 24px;
        left: -120px;
        width: 180px
}
    }
@media (min-width: 1024px) {
.card-line--last--2dK4u {
        height: 29px;
        right: -65px;
        width: 126px
}
    }
.logo--3F0pN {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    opacity: .5;
}
.card--3xIIu {
    margin-bottom: 20px;
}
@media (min-width: 768px) {
.card--3xIIu {
        margin-bottom: 0
}
    }
.card-image--WWjoV {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}
.card-content--10HLO {
    text-align: center;
}
@media(min-width: 1024px) {
.card-content--10HLO {
        padding: 0 50px
}
    }
.planInfoSection--3dgjJ {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 50px 0 25px;
}
.planInfoCard--2uQTF {
    border: 2px solid #222;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.freePlanCard--3AONK .planInfoCard--2uQTF {
        border-color: #38cd8b;
    }
.proPlanCard--36UeK .planInfoCard--2uQTF {
        border-color: #ff2f62;
    }
.businessPlanCard--3vM12 .planInfoCard--2uQTF {
        border-color: #029bce;
    }
.planInfoHeader--28wOJ {
    font-size: 28px;
    margin: 0;
}
.planInfoButton--3bojk {
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    margin: 30px 0;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
.freePlanCard--3AONK .planInfoButton--3bojk {
        background-color: #38cd8b;
    }
.proPlanCard--36UeK .planInfoButton--3bojk {
        background-color: #ff2f62;
    }
.businessPlanCard--3vM12 .planInfoButton--3bojk {
        background-color: #029bce;
    }
.section-title--M3UDb {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
    margin: 50px 0 25px;
}
.loginText--1kuWz, .loginTextLink--2KgbL {
    color: #ddd;
    font-size: 14px;
}
.signupButton--3zz20 {
    margin-right: 20px;
}

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.app {
        min-width: 320px;
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.Hero--3KtI5 {
    padding-bottom: 60px;
    text-align: center;
}
@media (min-width: 1024px) {
.Hero--3KtI5 {
        display: grid;
        grid-column-gap: calc(80px / 2);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "Hero-figure Hero-content";
        text-align: left;
        padding-top: 0;
        position: relative;
}
    }
@media (min-width: 1200px) {
.Hero--3KtI5 {
        grid-column-gap: 80px
}
    }
@media (min-width: 1490px) {
.Hero--3KtI5 {
        padding-bottom: 0
}
    }
.figure--2z2uu {
    display: none;
}
@media (min-width: 1024px) {
.figure--2z2uu {
        display: block;
        grid-area: Hero-figure;
        position: relative;
        z-index: 1;
        margin-top: 20px;
        margin-top: 0
}
    }
.content--Sh8IG {
    padding: 0 32px;
}
@media (min-width: 1024px) {
.content--Sh8IG {
        grid-area: Hero-content;
        max-width: calc(calc(1200px - 80px) / 2);
        padding: 0;
}
    }
.title--cyXyG {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 32px;
}
@media (min-width: 768px) {
.title--cyXyG {
        font-size: 48px;
        margin-bottom: 44px
}
    }
.subtitle--JP0w3 {
    color: #494e5f;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin: 24px 0;
}
@media (min-width: 768px) {
.subtitle--JP0w3 {
        font-size: 24px;
        line-height: 1.57
}
    }
.text--3fgom {
    margin: 12px 0 4px;
    font-size: 21px;
}
.stars--1WGgS {
    display: block;
    height: 28px;
    /* margin: 0 auto; */
    width: 152px;
}
@media (min-width: 1024px) {
.stars--1WGgS {
        margin: 0;
}
    }
.button--ZF4Yy {
    margin-top: 56px;
    background-color: #ff2e63;
}
@media (min-width: 1024px) {
.button--ZF4Yy {
        min-width: 50%
}
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.Plan--9V6RI {
    background-image: linear-gradient(45deg, #5a30bb, #286fd2);
    color: #fff;
    padding: 80px 0;
}
@media (min-width: 1200px) {
.Plan--9V6RI {
        padding: 128px 0
}
    }
/*
     * This is directly related to the point at which this element
     * will not overlap any elements in the section aboce (Hero)
     * except for the image. The purple background should underlay
     * the image of the Hero component
     */
@media (min-width: 1490px) {
.Plan--9V6RI {
        margin-top: -58px
}
    }
.title--2I9re {
    font-size: 32px;
    margin: 0 0 40px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}
@media (min-width: 1024px) {
.title--2I9re {
        text-align: left;
        margin-bottom: 60px;
        font-size: 42px
}
    }
.list--1R0zO {
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
}
@media (min-width: 1024px) {
.list--1R0zO {
        grid-column-gap: 64px;
        grid-row-gap: 0;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 0 110px
}
    }
.conversions--3fNFU {
    font-size: 32px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.companies--2vd_x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@media (min-width: 768px) {
.companies--2vd_x {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between
}
    }
.logo--2rKF2 {
    margin: 15px;
    height: 42px;
}
@media (min-width: 768px) {
.logo--2rKF2 {
        height: auto
}
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.PlanItem---On2h {
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.28);
            box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.28);
    color: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    max-width: 450px;
    padding: 40px;
    text-align: center;
}
@media (min-width: 1024px) {
.PlanItem---On2h {
        height: 392px;
        padding: 0 32px
}
    }
.title--132VA {
    font-size: 28px;
    line-height: 1;
    margin: 0;
}
.content--HhHFs {
    color: #494e5f;
    line-height: 1.4;
    font-size: 20px;
    margin: 28px 0 40px;
}
.button--yWW8w {
    border-radius: 30px;
    font-size: 20px;
}
.button--free--1lEIV {
    background-color: rgb(215, 245, 232);
    color: rgb(25, 90, 61);
}
.button--pro--12iqQ {
    background-color: rgb(255, 213, 224);
    color: rgb(156, 28, 60);
}
.button--business--3EvUi {
    background-color: rgb(204, 227, 235);
    color: rgb(0, 77, 104);
}

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.Cta--341YU {
    text-align: center;
    padding: 40px 0 calc(40px - 20px);
}
@media (min-width: 1024px) {
.Cta--341YU {
        padding: 128px 0 calc(128px - 20px)
}
    }
.title--1p6PP {
    font-size: 25px;
    margin-top: 0;
}

@media (min-width: 1024px) {
.title--1p6PP {
        font-size: 35px
}
    }
.button--orXoc {
    background-color: #ff2e63;
}

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.Testimonial--3NxE7 {
    background-image: linear-gradient(254deg, #009bce, #1eb3ab);
    padding: 64px 0;
}
@media (min-width: 1024px) {
.Testimonial--3NxE7 {
        padding: 128px 0
}
    }
.list--13AKw {
    display: grid;
    grid-row-gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media (min-width: 1024px) {
.list--13AKw {
        grid-column-gap: 32px;
        grid-row-gap: 0;
        grid-template-columns: repeat(2, 1fr)
}
    }
.item--2PDQ8 {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.28);
            box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.28);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 24px 32px;
}
.itemQuote--1q_NL {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
@media (min-width: 1024px) {
.itemQuote--1q_NL {
        font-size: 24px
}
    }
.itemQuote--1q_NL p {
        margin: 0;
    }
.itemCite--2NWrb {
    color: #494e5f;
    display: block;
    font-size: 18px;
    font-style: normal;
    margin-top: 10px;
}
.itemLink--1OoUn {
    border-bottom: 2px solid #ff2e63;
    display: inline-block;
    font-size: 21px;
    margin-top: 20px;
    text-decoration: none;
}
.itemLink--1OoUn:hover {
        border-bottom-color: transparent;
    }
.itemFigure--CY-Nw {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 16px;
    width: 68px;
}
@media (min-width: 1024px) {
.itemFigure--CY-Nw {
        margin-right: 32px
}
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.Toolbox--2E5rt {
    background-color: #f1f1f1;
    padding: 64px 0 calc(64px - 50px);
}
@media (min-width: 1024px) {
.Toolbox--2E5rt {
        padding: 128px 0 calc(128px - 50px)
}
    }
.title--iustm {
    font-size: 32px;
    margin: 0 0 50px;
    text-align: center;
}
@media (min-width: 768px) {
.title--iustm {
        font-size: 42px;
        text-align: left
}
    }
.list--2Oe96 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
@media (min-width: 1024px) {
.list--2Oe96 {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between
}
    }
.item--11eHU {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 10px;
    text-align: center;
    width: 272px;
}
@media (min-width: 768px) {
.item--11eHU {
        height: 380px
}
    }
.itemFigure--LoTNO {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 144px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 20px;
    width: 144px;
}
@media (min-width: 768px) {
.itemFigure--LoTNO {
        margin-bottom: 40px
}
    }
.itemFigure--branding--34r6y {
    background-color: #e8efe8;
}
.itemFigure--screen--tsHqM {
    background-color: #e0eaee;
}
.itemFigure--meetings--3UtlD {
    background-color: #f2e5e7;
}
.itemFigure--mobile--3yAEA {
    background-color: #f1e6dd;
}
.itemTitle--3B5oa {
    font-size: 24px;
    margin: 0 0 10px;
}
.itemText--3hH_b {
    color: #494e5f;
    font-size: 18px;
}
.itemLink--1D_lv {
    border-bottom: 2px solid #ff2e63 !important;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
}
.itemLink--1D_lv:hover {
        border-bottom-color: transparent !important;
    }
    a {
        color: #ff2e63 ;
    }

.component--2aljY {
    margin: 20px;
}

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width: 1024px) {
body {
        overflow-y: scroll
}
    }
img {
    max-width: 100%;
}
a img {
    border: none;
}
figure {
    margin: 0;
}
h1, h2, h3, h4 {
    font-weight: 600;
}


.mvm { margin-top: 10px; margin-bottom: 10px; }
.mvs { margin-top: 20px; margin-bottom: 20px; }
.mvl { margin-top: 30px; margin-bottom: 30px; }
/* mh* */
.mhm { margin-left: 10px; margin-right: 10px; }
.mhs { margin-left: 20px; margin-right: 20px; }
.mhl { margin-left: 30px; margin-right: 30px; }
/* ml* */
.mls { margin-left: 10px; }
.mlm { margin-left: 20px; }
.mll { margin-left: 30px; }
/* mr* */
.mrs { margin-right: 10px; }
.mrm { margin-right: 20px; }
.mrl { margin-right: 30px; }
/* mt* */
.mts { margin-top: 10px; }
.mtm { margin-top: 20px; }
.mtl { margin-top: 30px; }
/* mb* */
.mbs { margin-bottom: 10px; }
.mbm { margin-bottom: 20px; }
.mbl { margin-bottom: 30px; }
/* pv* */
.pvm { padding-top: 10px; padding-bottom: 10px; }
.pvs { padding-top: 20px; padding-bottom: 20px; }
.pvl { padding-top: 30px; padding-bottom: 30px; }
/* ph* */
.phm { padding-left: 10px; padding-right: 10px; }
.phs { padding-left: 20px; padding-right: 20px; }
.phl { padding-left: 30px; padding-right: 30px; }
/* pl* */
.pls { padding-left: 10px; }
.plm { padding-left: 20px; }
.pll { padding-left: 30px; }
/* pr* */
.prs { padding-right: 10px; }
.prm { padding-right: 20px; }
.prl { padding-right: 30px; }
/* pt* */
.pts { padding-top: 10px; }
.ptm { padding-top: 20px; }
.ptl { padding-top: 30px; }
/* pb* */
.pbs { padding-bottom: 10px; }
.pbm { padding-bottom: 20px; }
.pbl { padding-bottom: 30px; }
/**
    * Layout specific classes
    * Prefix of `l-` signifies a layout helper class
    */
.l-container {
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
.l-container-xs {
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
        max-width: 450px;
        width: 100%;
    }
.l-container-sm {
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
        max-width: 650px;
        width: 100%;
    }
.l-grid {
        display: block;
    }
/* Grid does not have an effect on mobile */
@media (min-width: 768px) {
.l-grid {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex
    }
        }
/* .l-grid-cell must be direct child of .l-grid */
.l-grid > .l-grid-cell {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        /* Needed to maintain equal column width */
        overflow: hidden;
        padding: 10px;
    }
.l-grid > .l-grid-cell--no-padding {
            padding: 0;
        }
.l-grid--noWrap {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
.l-grid--fill {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
.l-grid--center {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
.leftify { text-align: left; }
.no-wrap { white-space: nowrap; }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.ContentWrapper--11Iee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100vh;
}
.narrowWidth--3rwy3 {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1.5em;
}
@media (max-width: 768px) {
.narrowWidth--3rwy3 {
        padding: 0
}
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.PageFooter--q6-VT {
    background-color: #20233b;
    padding: 50px 0;
}
.container--2gbHf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
@media (min-width: 768px) {
.container--2gbHf {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        text-align: left
}
    }
.button--1L9B7 {
    background-color: transparent;
    border-color: #ff2e63;
    color: #ff2e63;
}
.button--1L9B7:hover {
        text-decoration: underline;
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.nav--CPVyU {
    margin-top: 30px;
}
@media (min-width: 768px) {
.nav--CPVyU {
        margin-top: 0
}
    }
.nav--CPVyU:first-child {
        margin-top: 0;
    }
.navList--2HPNM {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navTitle--1W31B {
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 10px 0;
}

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.navItem--2TmsE {
    font-size: 14px;
    padding: 10px 0;
}
@media (min-width: 768px) {
.navItem--2TmsE {
        font-size: 18px
}
    }
.navItemLink--2AhgN {
    color: #fff;
    display: block;

    text-decoration: none;
}
.navItemLink--2AhgN:hover {
        text-decoration: underline;
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */


/* Used in conjunction with button */
.component--small--3ua78 {
    padding: 4px 20px;
}
.component--button-secondary--3NreX {
    background-color: #fff;
    color: #222;
    border-color: #dadada;
}
.component--button-secondary--3NreX:disabled {
        background-color: transparent;
        color: #dadada;
    }
.component--disabled--3erao {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666;
    cursor: default;
}
.component--disabled--3erao:focus {
        outline: none;
    }
.component--full--25rGM {
    display: block;
    width: 100%;
}


/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.component--2QFO_ {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
}
.logo--1d42y {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
@media (min-width: 768px) {
.logo--1d42y {
        width: auto
}
    }
.menu--3Jv0M {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
@media (min-width: 768px) {
.menu--3Jv0M {
        width: auto;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2
}
    }
.user--1xSYC {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    grid-area: user;
}
@media (min-width: 768px) {
.user--1xSYC {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3
}
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.component--MsadA {
    text-decoration: none;
}
.logoImg--ck59d {
    height: 27px;
    width: 120px;
    top: 2px;
    position: relative;
}
@media (min-width: 768px) {
.logoImg--ck59d {
        height: 34px;
        width: 151px;
        top: 4px
}
    }
.logoImg--business--16i0b {
    height: 40px;
    top: 2px;
    width: 40px;
}
.logoImg--compact--3xT3M {
    height: 30px;
    width: 40px;
}
@media (min-width: 768px) {
.logoImg--compact--3xT3M {
        display: none
}
    }
.logoImg--text--1eqDD {
    display: none;
}
@media (min-width: 768px) {
.logoImg--text--1eqDD {
        display: block
}
    }
.logoContainer--AZi3B {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logoText--3qCfw {
    -ms-flex-item-align: center;
        align-self: center;
    color: #222;
    font-size: 16px;
    margin-left: 10px;
}
@media (min-width: 768px) {
.logoText--3qCfw {
        font-size: 18px
}
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.nav--1FwkX {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (min-width: 768px) {
.nav--1FwkX {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center
}
    }
.navList--3xnXH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 25px 0 0; /* includes <ul /> reset */
    padding: 0;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}
@media (min-width: 768px) {
.navList--3xnXH {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin: 0;
        width: auto
}
    }
.navList--compact--1QbxE {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.navList--compact--1QbxE > li {
        margin-left: 15px;
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.navItem--SFDxq {
    list-style: none;
    margin: 0;
}
@media (min-width: 768px) {
.navItem--SFDxq {
        margin: 0 25px
}
    }
.navItem--SFDxq:first-child {
        margin-left: 0;
    }
.navItem--SFDxq:last-child {
        margin-right: 0;
    }
.navLink--1nG38 {
    color: #222;
    font-weight: 600;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    text-shadow: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.navLink--1nG38:hover {
        color: #ff2e63;
    }
.linkSelected--3LcGv {
    color: #ff2e63;
}
.demo--3PVbJ {
    color: #222;
    font-weight: 600;
}
.navLinkBordered--3IcmA {
    color: #ff2e63;
    border-color: #ff2e63;
    border-width: 1px;
    border-style: solid;
    padding: 6px 20px;
    border-radius: 4px;
    margin-right: 0;
    margin-left: 0;
}
.navLinkBordered--3IcmA:hover {
        border-width: 1px;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
@media (min-width: 768px) {
.navLinkBordered--3IcmA {
        margin-left: 1.3em
}
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.component--G0Pp0 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #222;
    text-decoration: none;
    margin: 0;
}
.displayName--3C2DK {
    display: none;
    white-space: nowrap;
}
@media (min-width: 768px) {
.displayName--3C2DK {
        display: block;
        margin: 0 10px
}
    }
.displayNameSelected--25HtB {
    font-weight: 600;
}
.signupButton--1Hn4r {
    background-color: #ff2e63;
    margin-left: 24px;
}
@media (min-width: 768px) {
.signupButton--1Hn4r {
        display: block;
        margin-left: 16px
}
    }

/* Spacing scale */
/* Private class to reset <button> element styles */
/* http://stackoverflow.com/questions/11605875/how-to-style-button-inputs-to-be-identical-in-chrome-and-firefox */
/* Recreates focus outline when child has focus */
.component--2MszE {
    --avatarSize: 200px;
    height: var(--avatarSize);
    width: var(--avatarSize);
    border-radius: 50%;
    overflow: hidden;
}
.component--small--20flS {
    --avatarSize: 32px;
}
.component--medium--9oFco {
    --avatarSize: 48px;
}
.avatarImage--3FFCn {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: initial;
}

.AnchorLink--14Ys5 {
    color: var(--primary-color);
    cursor: pointer;
}

.AnchorLink--disabled--1mIIB {
    color: var(--text-color-main);
    cursor: auto;
}

.AnchorLink--full--3iIXG {
    display: block;
    width: 100%;
}

.themedComponent--O9Y4l {
    --black: #222;
    --light-grey: #aaa;
    --lightest-grey: #ccc;
    --off-white: #f1f1f1;
    --white: #fff;

    --brand-color-green: #41cc8c;
    --brand-color-pink: #ff2e63;
    --error-color: #e62929;

    --background-color-callout-default: rgba(0, 0, 0, 0.2);
    --background-color-error: rgba(255, 0, 0, 0.2);
    --background-color-warning: rgba(255, 196, 0, 0.2);

    --primary-color: var(--brand-color-pink);
    --secondary-color: var(--brand-color-green);

    --link-color: var(--primary-color);
    --link-color-dark: var(--lightest-grey);

    --base-font-size: 16px;
    --text-color-main: var(--black);
    --font-family-main: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    --font-weight-bold: 600;
    --font-weight-regular: 400;

    font-family: var(--font-family-main);

    --box-border-radius: 5px;
    --box-padding: 25px var(--box-padding-sides) 23px;
    --box-padding-sides: 14px;

    /* Spacing scale */
    --spacing-half: 4px;
    --spacing-normal: 8px;
    --spacing-double: 16px;
    --spacing-tripple: 24px;
}

.Button--1SaIW {
    --button-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    --button-height: 40px;
    --button-padding: 40px;

    background-color: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: calc(var(--button-height) / 2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-bold);
    line-height: 1.4;
    max-width: 100%;
    outline: none;
    padding: 8px var(--button-padding);
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.Button--secondary--28tue {
    background-color: var(--primary-color);
}

.Button--outlined--OfuEv {
    background-color: inherit;
    border: 2px solid var(--lightest-grey);
    color: var(--color-black);
}

.Button--disabled--3Igin {
    cursor: auto;
    opacity: 0.5;
}

.Button--full--2OGKL {
    display: block;
    width: 100%;
}

.component--23Shi {
    --avatarSize: 200px;
    height: var(--avatarSize);
    width: var(--avatarSize);
    border-radius: 50%;
    overflow: hidden;
}
.component--small--1ds2f {
    --avatarSize: 32px;
}
.component--medium--1rqJp {
    --avatarSize: 50px;
}
.avatarImage--1RQju {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: initial;
}

.Callout--1Phjg {
    background-color: var(--background-color-callout-default);
    padding: var(--box-padding);
    border-radius: var(--box-border-radius);
}

.Callout--1Phjg h1 {
    font-size: 1.2em;
}

.Callout--warning--2Wntz {
    background-color: var(--background-color-warning);
}

.Callout--error--1UHW0 {
    background-color: var(--background-color-error);
}

.CloseButton--XcyHB {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    width: 40px;
}

.icon--3Z3DF {
    width: 24px;
    height: 24px;
}

.ContextualMenu--3MO9I {
    --z-index: 1;

    height: 40px;
    position: relative;
    width: 40px;
    z-index: var(--z-index);
}

.ContextualMenu--open--33P2g {
    z-index: calc(var(--z-index) + 1);
}

.ContextualMenu--open--33P2g::after {
        background-color: rgba(0, 0, 0, .12);
        bottom: 0;
        content: "";
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }

.container--1DQZu {
    border-radius: 3px;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: [context-menu-buttons] auto [toggle-button] 40px;
    grid-template-rows: [main] auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--z-index);
}

.ContextualMenu--open--33P2g .container--1DQZu {
        background-color: var(--white);
        border-color: rgba(0, 0, 0, .12);
        -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
                box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    }

.toggleButton--1SbG6 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: toggle-button;
    grid-row: main;
    height: 34px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3px;
    position: relative;
    width: 34px;
}

.toggleButton--1SbG6:hover {
        background-color: rgba(255, 255, 255, .8);
    }

.ContextualMenu--noHover--2PK2Z .toggleButton--1SbG6:hover, .ContextualMenu--light--3zjGt .toggleButton--1SbG6:hover {
        background: none;
    }

.menu--1aY-l {
    grid-column: context-menu-buttons;
    grid-row: main;
}

.Ellipsis--2dItH {
    fill: #000;
    fill-rule: evenodd;
}

.Ellipsis--light--2-KQ_ {
    fill: #fff;
    -webkit-filter: drop-shadow(0 1px 8px #000);
            filter: drop-shadow(0 1px 8px #000);
}

.Ellipsis--vertical--2znFF {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}

.Dialog--36Zd1 {
    --body-height: auto;
    --dialog-max-width: 400px;
    --dialog-padding-sides: 25px;
    --dialog-padding-top-bottom: 8px;
    --dialog-text-align: center;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    padding: var(--dialog-padding-top-bottom) var(--dialog-padding-sides);
}

    .Dialog--36Zd1:not(.overlayDisabled--Jszp5) {
        background: rgba(0, 0, 0, 0.3);
    }

.box--nvtPW {
    background: var(--white);
    border-radius: var(--box-border-radius);
    max-height: 100%;
    max-width: var(--dialog-max-width);
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.withFooter--A5oFn .box--nvtPW {
        padding-bottom: 70px;
    }

.closeButton--3mOr8 {
    position: absolute;
    top: 0;
    right: 0;
}

.header--2m1zn {
    text-align: var(--dialog-text-align);
}

.body--3Wvz0 {
    font-size: var(--base-font-size);
    padding: var(--box-padding);
    text-align: var(--dialog-text-align);
    margin: auto;
    height: var(--body-height);
    max-height: 100%;
    max-width: 100%;
}

.closeBtnWithoutHeader--155Ml .body--3Wvz0 {
        padding-top: 40px;
    }

.footer--3xNt1 {
    justify-self: flex-end;
    max-width: var(--dialog-max-width);
    position: relative;
    text-align: var(--dialog-text-align);
    width: 100%;
}

.footerInner--31Pf2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-bottom-left-radius: var(--box-border-radius);
    border-bottom-right-radius: var(--box-border-radius);
    -webkit-box-shadow: 0 -20px 10px -10px var(--white);
            box-shadow: 0 -20px 10px -10px var(--white);
    padding: var(--box-padding);
    padding-top: 0;
}

.iframe--3SfQN {
    border: 0;
    height: 100%;
    width: 100%;
}

.InlineSpinner--3DJje {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: sub;
}

.dot--3ei2p {
    -webkit-animation: spin-animation--1VXgt 1s infinite;
            animation: spin-animation--1VXgt 1s infinite;
    fill: var(--lightest-grey);
    fill-opacity: 0.3;
}

.dot1--2LpIZ {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    fill-opacity: 0.9;
}

.dot2--OnnWB {
    -webkit-animation-delay: 0.125s;
            animation-delay: 0.125s;
}

.dot3--3ljqZ {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
}

.dot4--1rYIp {
    -webkit-animation-delay: 0.375s;
            animation-delay: 0.375s;
}

.dot5--2HxQ0 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

.dot6--1Qo_m {
    -webkit-animation-delay: 0.625s;
            animation-delay: 0.625s;
}

.dot7--Ngpvs {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
}

.dot8--1HD6G {
    -webkit-animation-delay: 0.875s;
            animation-delay: 0.875s;
}

@-webkit-keyframes spin-animation--1VXgt {
    0%, 100% {
        fill-opacity: 0.3;
    }
    62.5% {
        fill-opacity: 0.3;
    }
    75% {
        fill-opacity: 0.9;
    }
    87.5% {
        fill-opacity: 0.65;
    }
}

@keyframes spin-animation--1VXgt {
    0%, 100% {
        fill-opacity: 0.3;
    }
    62.5% {
        fill-opacity: 0.3;
    }
    75% {
        fill-opacity: 0.9;
    }
    87.5% {
        fill-opacity: 0.65;
    }
}

.IntrusiveTopbar--3PO9r {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    color: #000;
    background: #fffaec;
    border-bottom: 1px solid #ececee;
}

.content--2GsGC {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 40px;
    padding: 0 8px;
    font-size: 14px;
}

.closeButton--1ThzC {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 8px;
}

.Menu--2jORr {
    background-color: var(--white);
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    overflow: hidden;
}

.itemLink--3HYON, .itemButton--1GRNS {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

    .itemLink--3HYON:hover, .itemButton--1GRNS:hover {
        background-color: rgba(0, 0, 0, .05);
    }

.itemLink--3HYON {
    color: var(--black);
    display: inline-block;
    text-decoration: none;
}

.itemButton--1GRNS {
    background-color: transparent;
    border: none;
}

.ProgressBar--3ucDW {
    height: 8px;
    width: 100%;

    position: relative;
    overflow: hidden;
}

.ProgressBar--dialog-header--1RRbR {
    border-top-left-radius: var(--box-border-radius);
    border-top-right-radius: var(--box-border-radius);
}

.background--29UIp {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: var(--brand-color-green);
    opacity: 0.2;
}

.indicator--3z2AK {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: var(--brand-color-green);

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.Select--3y-hk {
    /* Override select styling: https://github.com/filamentgroup/select-css */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(https://d32wid4gq0d4kh.cloudfront.net/c12dcc6baf6aa11e9d5f7cfd0811da76.svg);
    background-repeat: no-repeat;
    background-position: right var(--spacing-double) center;

    background-color: var(--white);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid var(--light-grey);
    -webkit-box-shadow: inset 0 0 0 1px transparent;
            box-shadow: inset 0 0 0 1px transparent;
    width: 100%;
    border-radius: 5px;
    padding: var(--spacing-normal) calc(var(--spacing-double) * 2) var(--spacing-normal) var(--spacing-double);
    margin: 0 0 var(--spacing-normal);

    color: var(--black);
    font-size: var(--base-font-size);
    outline: none;
}

    .Select--3y-hk:hover, .Select--3y-hk:focus {
        background-color: var(--white);
        border: 1px solid var(--secondary-color);
        -webkit-box-shadow: inset 0 0 0 1px var(--secondary-color);
                box-shadow: inset 0 0 0 1px var(--secondary-color);
    }

    .Select--error--sF9e_, .Select--error--sF9e_:hover, .Select--error--sF9e_:focus {
        border: 1px solid var(--error-color);
        -webkit-box-shadow: inset 0 0 0 1px var(--error-color);
                box-shadow: inset 0 0 0 1px var(--error-color);
    }

    .Select--3y-hk:disabled, .Select--3y-hk:disabled:hover, .Select--3y-hk:disabled:focus {
        background-color: var(--off-white);
        border-color: var(--light-grey);
        -webkit-box-shadow: none;
                box-shadow: none;
        color: var(--light-grey);
        cursor: not-allowed;
    }

/* hack to prevent it from being selectable, but still visible in it's intial state */

.placeholder--1GSpx {
    display: none;
}

.InputWrapper--1m8Gh {
    cursor: text;
    display: block;
    font-size: var(--base-font-size);
    font-family: var(--font-family-main);

    --helptext-color: var(--black);
    max-width: 100%;
}

    .InputWrapper--error--ElR5Z {
        --helptext-color: var(--error-color);
    }

.helpText--2LObV {
    color: var(--helptext-color);
    margin: 0;
    line-height: 1.25em;
    min-height: 1.25em;
    cursor: inherit;
}

.labelText--1upWz {
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--base-font-size) * 0.875);
    -webkit-font-smoothing: antialiased;
    cursor: inherit;
    margin-bottom: var(--spacing-normal);
}

.Spinner--1nm_v {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 50px;
    width: 100%;
}

.TextInput--1O7En {
    background-color: var(--white);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid var(--light-grey);
    -webkit-box-shadow: inset 0 0 0 1px transparent;
            box-shadow: inset 0 0 0 1px transparent;
    width: 100%;
    border-radius: 5px;
    padding: var(--spacing-normal) var(--spacing-double);
    margin: 0 0 var(--spacing-normal);

    color: var(--black);
    font-size: var(--base-font-size);
    outline: none;
}

    .TextInput--1O7En::input-placeholder, .TextInput--1O7En::-webkit-input-placeholder, .TextInput--1O7En::-moz-placeholder, .TextInput--1O7En:-ms-input-placeholder {
        color: var(--light-grey);
        font-size: var(--base-font-size);
        font-weight: inherit;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .TextInput--1O7En:hover, .TextInput--1O7En:focus {
        background-color: var(--white);
        border: 1px solid var(--secondary-color);
        -webkit-box-shadow: inset 0 0 0 1px var(--secondary-color);
                box-shadow: inset 0 0 0 1px var(--secondary-color);
    }

    .TextInput--error--62tmx, .TextInput--error--62tmx:hover, .TextInput--error--62tmx:focus {
        border: 1px solid var(--error-color);
        -webkit-box-shadow: inset 0 0 0 1px var(--error-color);
                box-shadow: inset 0 0 0 1px var(--error-color);
    }

    .TextInput--1O7En:disabled, .TextInput--1O7En:disabled:hover, .TextInput--1O7En:disabled:focus {
        background-color: var(--off-white);
        border-color: var(--light-grey);
        -webkit-box-shadow: none;
                box-shadow: none;
        color: var(--light-grey);
        cursor: not-allowed;
    }

.UpsellBanner--2cmDe {
    --banner-bg-color: #1e2631;
    --banner-fg-color: #fff;

    background-color: var(--banner-bg-color);
    color: var(--banner-fg-color);
    padding: 0 30px 20px 30px;
}

.buttonWrapper--3YDx0 {
    text-align: center;
    margin-bottom: 30px;
}

.title--ylpJr {
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);
}

.savings--3csQY {
    color: var(--secondary-color);
}

.pricingFeatureContainer--2CLIP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pricingContainer--2gduD {
    margin-right: 20px;
}

.price--2OULd {
    font-size: 30px;
}

.lightText--XdonT {
    color: #bfbfbf;
    font-size: 14px;
}

.featureList--2iqmC {
    margin: 0;
    padding: 0;
    list-style: none;
}

.featureItem--10doD {
    margin-bottom: 10px;
}

.featureItemImg--3p2hu {
    margin-right: 10px;
}

.component--fF0jp {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: sub;
}
.spinner--34Ecj {
    vertical-align: top;
}
.dot--3Veyr {
    -webkit-animation: spin-animation--1-h-M 1s infinite;
            animation: spin-animation--1-h-M 1s infinite;
    fill: #cbcbcb;
    fill-opacity: .3;
}
.dot1--3iv5C {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    fill-opacity: .9;
}
.dot2--1H2rk {
    -webkit-animation-delay: .125s;
            animation-delay: .125s;
}
.dot3--3gHpA {
    -webkit-animation-delay: .25s;
            animation-delay: .25s;
}
.dot4--2_b5s {
    -webkit-animation-delay: .375s;
            animation-delay: .375s;
}
.dot5--1r1Vo {
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
}
.dot6--3Su9p {
    -webkit-animation-delay: .625s;
            animation-delay: .625s;
}
.dot7--YD6Cm {
    -webkit-animation-delay: .75s;
            animation-delay: .75s;
}
.dot8--2B7Xc {
    -webkit-animation-delay: .875s;
            animation-delay: .875s;
}
@-webkit-keyframes spin-animation--1-h-M {

    0%, 100% {
        fill-opacity: .3;
    }

    62.5% {
        fill-opacity: .3;
    }

    75% {
        fill-opacity: .9;
    }

    87.5% {
        fill-opacity: .65;
    }
}
@keyframes spin-animation--1-h-M {

    0%, 100% {
        fill-opacity: .3;
    }

    62.5% {
        fill-opacity: .3;
    }

    75% {
        fill-opacity: .9;
    }

    87.5% {
        fill-opacity: .65;
    }
}

.component--2KpK- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 50px;
    width: 100%;
}

.techDetails--1kZwz {
    font-size: 0.8em;
}

    .techDetails--1kZwz summary {
        cursor: pointer;
    }

.content--1pGsP {
    max-width: 800px;
    margin: 0 auto;
}

