<html class="wf-opensans-n4-active wf-futurapt-n3-active wf-opensans-i4-active wf-opensans-n6-active wf-futurapt-n4-active wf-futurapt-n5-active wf-active">

  <head>
    <title>Our Team – - Video Meetings, Video Conferencing, and Screen Sharing - Whereby (formerly appear.in)</title>
 
</head>

  <body>
    <div class="container">
      <header class="top-line Container">
        <figure [routerLink]="['/']" class="logoContainer--AZi3B">
            <img class="logoImg--ck59d logoImg--text--1eqDD jstest-logo" src="https://d32wid4gq0d4kh.cloudfront.net/ff0baf699ecfdf651e1df79ab837e3ee.svg" alt="whereby.com">
        </figure>
        <nav class="main-nav">
          <ul>
            <li class="child sibling">
              <a href="https://appearin.helpscoutdocs.com">FAQ</a>
            </li>
            <li class="child sibling">
              <a  [routerLink]="['press']">Press</a>
            </li>
            <li class="child sibling">
              <a href="https://blog.whereby.com/">Blog</a>
            </li>
            <li class="child sibling">
              <a href="/information/pricing/">Pricing</a>
            </li>
          </ul>
        </nav>
      </header>
      <router-outlet></router-outlet>
      </div>
   
    </body>
    <app-footer></app-footer>
    </html>


